body {
    margin-top: 10%;
    background-color: #222022;
}

.black-bg {
    background-color: #222022;
}

#quote {
    color: black;
    font-size: 150%;
}

#author {
    color: black;
    font-size: 150%;
}



.quote-box {
    background-color: #efedef;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 10px;
        padding-left: 10px;
}

.button-box {
    margin-top: 20px;
}

.author-box {
    background-color: #efedef;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-default {
        background-color: #efedef;
        color: #333;
        border-radius: 0px;
    }
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active    {
        background-color: #222022;
        color: #efedef;
    }
    