body{
   margin-top: 10%;
  background-color: #222022;
}

.black-bg{
  background-color: #222022;
}
#quote {
  color: #efedef
}

#author {
  color: #ceccce;
}

.btn-outline-success {
  color: #6ead3a;
  border: 1px solid #6ead3a;
}